$border-color: #333333;
$shadow-color: #aaaaaa;
$cfg-value-color: #915d09;
$scf-local-binding-color: #915d09;
$card-bg-color: #e6e8ed;

body {
	font-family: sans-serif;
	font-size: 11pt;
	margin: 0;
}

.app-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.nav-main {
	flex-grow: 0;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid $border-color;
	box-shadow: 0 2px 2px $shadow-color;
}

.module-nav {
    padding-top: 5px;
    width: 100%;
}

.module-nav .thaw-nav-category-item {
    width: 260px;
}

main {
	flex-grow: 1;
	overflow: hidden;
}

.info-page-container {
	padding: 8px;
}

.module-explorer-container, .rvsdg-dump-viewer-container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.rvsdg-dump-sider {
    background: #f0f2f5;
    padding: 10px;
    border-right: 1px solid #e8e8e8;
    width: 300px;
}

.rvsdg-dump-file-input-container {
    margin-bottom: 20px;
}

.rvsdg-dump-function-item {
    cursor: pointer;

    &.selected {
        font-weight: bold;
    }
}

.rvsdg-dump-content-layout {
    padding: 20px;
    overflow: auto;
    flex: 1;
    height: 100%;
}

.rvsdg-dump-content-container {
    padding: 20px;
}

.rvsdg-dump-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.module-items-container {
	height: 100%;
	width: 20em;
	overflow: scroll;
	resize: horizontal;
	border-right: 1px solid $border-color;
}

.module-item-list {
	list-style: none;
	padding-left: 10px;
	margin: 0;
}

.item-explorer-container {
	height: 100%;
	flex: 1;
}

.function-explorer-container, .wgsl-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.function-sig {
	padding: 8px;
	font-size: 1.4em;
	margin-bottom: 8px;
}

.function-mode-list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;
  align-items: stretch;
}

.function-mode {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  outline-style: none;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  column-gap: var(--spacingHorizontalSNudge);
  background-color: var(--colorTransparentBackground);
  line-height: var(--lineHeightBase300);
  font-family: var(--fontFamilyBase);
  text-transform: none;
  padding: var(--spacingVerticalM) var(--spacingHorizontalMNudge);
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--borderRadiusMedium);
  border: none;
  color: var(--colorNeutral);
  text-decoration: none;
  font-size: 12pt;
}

.function-mode::before {
  right: var(--spacingHorizontalM);
  left: var(--spacingHorizontalM);
  height: var(--strokeWidthThicker);
  bottom: 0px;
}

.function-mode:hover::before  {
  position: absolute;
  content: "";
  background-color: var(--colorNeutralStroke1Hover);
  border-radius: var(--borderRadiusCircular);
}

.function-mode.active::before {
  position: absolute;
  content: "";
  background-color: #0f6cbd;
  border-radius: var(--borderRadiusCircular);
}

.function-mode:hover {
  color: var(--colorNeutralForeground2Hover);
}

.function-mode.active {
  font-weight: var(--fontWeightSemibold);
  color: var(--colorNeutralForeground2Pressed);
}

.function-body {
	flex: 1 0;
	overflow-y: scroll;
	padding: 8px;
}

.basic-block {
	background-color: $card-bg-color;
	border-radius: 5px;
	margin-bottom: 8px;
	padding: 8px;
}

.basic-block-body a, .basic-block-body a:visited {
	color: #093d91;
}

.basic-block-header {
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: 1px solid $border-color;
}

.basic-block-header, .basic-block-body, .basic-block-terminator {
	font-family: monospace;
}

.cfg-value {
	cursor: pointer;
	color: $cfg-value-color;
}

.cfg-value.highlighted {
	font-weight: bold;
}

.scf-function-body {
    font-family: monospace;
}

.scf-indent {
    padding-left: 4ch;
}

.scf-local-binding {
    cursor: pointer;
    color: $scf-local-binding-color;
}

.scf-local-binding.highlighted {
    font-weight: bold;
}

.wgsl-container {
    padding: 16px;
    font-family: monospace;
    white-space: pre;
    overflow: scroll;
}
